main{
    box-shadow: 30px 0px 40px rgb(196, 196,196), -30px 0px 40px rgb(196, 196,196);
    margin: auto;
    max-width: 900px;
}

.skls{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 25px;
    width: 100%;

}

header{
    height: 230px;
    padding-top: 10px;
    color: white;
    background-color: #333;
}

.photo{
    margin-left: 4%;
    overflow: hidden;
}

.description{
    margin-left: 28%;
    margin-top: -10%;
}

h3{
    color: #13caba;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 20px;
}

.post{
    color: orange;
    font-weight: bold;
    letter-spacing: .1rem;
}

.right{
    margin: 0;
    padding: 0;
    margin-top: -15%;
}

.right p{
   letter-spacing: .1rem;
    margin-left: 600px;
}

.info{
    width: 20px;
    height: 20px;
}

.section-left{
    background-color: #fff;
    float: left;
    width: 400px;
}

.section-right{
    background-color: #fff;
    float: right;
    width: 400px;
}

h4{
    margin-left: 10%;
    color: #13caba;
    letter-spacing: .1rem;
    font-size: 18px;
}

hr .light{
    border-top: 2px solid #13caba;
    width: 90%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.atouts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 10%;
}

.div{
    margin-left: 10%;
}

.skls{
    padding: 0;
    width: 40%;
    margin-left: 10%;
    display: inline-block;
}

.po{
    margin-top: 20px;
}

strong{
    color: #13caba;
    text-decoration: none;
}

.cool{
    background-color: #fff;
    border: 2px solid #ccc;
    width: 300px;
    height: 7px;
}

.inner{
    height: 100%;
    background-color: orange;
}

.photo img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    object-fit: cover;
}