body {
    background-color: rgba(0, 0, 0, 0.724);
}

header {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin-left: 80px;
    width: 200px;
    text-decoration: underline;
    color: darkgoldenrod;
    text-transform: uppercase;
    animation: slis 5s alternate infinite;
    transition: all 3s ease-in-out;
    overflow: hidden;
}

@keyframes slis {
    0% {
        transform: translateX(0px);
        transition: all 2s ease-in-out;
        overflow: hidden;
    }
    50% {
        transform: translateX(50px);
        transition: all 2s ease-in-out;
        overflow: hidden;
        opacity: 0.2;
        color: azure;
    }
    100% {
        transform: translateX(-0px);
        transition: all 2s ease-in-out;
        overflow: hidden;
        opacity: 1;
        color: darkgoldenrod;
    }
}

#contain {
    width: 1250px;
    margin: auto;
    vertical-align: middle;
    background-color: rgba(217, 217, 217, 0.726);
    border-radius: 5%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.569);
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-bottom-left-radius: 6px dashed yellow;
    vertical-align: middle;
    box-sizing: border-box;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.569);
    cursor: pointer;
    transition: 1.7s;
}

section img:hover {
    background-color: rgba(0, 0, 0, 0.442);
    transition: 1.2s;
    width: 320px;
    height: 320px;
}

p {
    background-color: antiquewhite;
    display: inline-block;
    line-height: 24px;
    width: 700px;
    height: 400px;
    vertical-align: middle;
    padding-right: 30px;
    margin-left: 90px;
    padding-left: 16px;
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    font-size: 17px;
    font-style: unset;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    text-transform: uppercase;
    color: darkorange;
}


/*---------------footer-------------- 693 11 91 25-*/

footer {
    padding-top: 30px;
    background: rgb(194, 107, 0);
    border-radius: 3%;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    height: 300px;
    margin-top: 250px;
}

.mesocial {
    display: flex;
    float: right;
}

#fin {
    padding-left: 20px;
}