@keyframes slideFromLeft {
    from {
        left: 60%;
    }
    to {
        left: 0;
    }
}

@keyframes slideFromRight {
    from {
        margin-right: 100%;
    }
    to {
        margin-right: 0%;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 300px;
    width: 600px;
    vertical-align: middle;
}

p {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    text-align: justify;
    padding: 20px;
    line-height: 23px;
}

.left-car {
    margin-right: 20px;
}

.right-car {
    margin-left: 20px;
}

.container {
    width: 1200px;
    margin: auto;
}

section {
    padding: 60px 0;
    background-color: rgb(238, 236, 236);
}

#bumblebee {
    height: 350px;
}

header {
    padding: 20px 0;
}

header h1 {
    margin-left: 30px;
}

h1 {
    display: inline-block;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 30px;
}

.right-car {
    position: relative;
    animation: slideFromLeft 1.5s;
}